      {% extends 'blog/base.html' %}
      {% block content %}
            {% for post in posts %}
                <div class="post">
                    <div class="author">
                        <p>przez: {{ post.author }}</p>
                    </div>
                    <div class="text-content">
                    <p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.text|linebreaksbr }}</a></p>
                </div>
                </div>
            {% endfor %}
         {% endblock %}